# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\RBCs\Lecture\ite5\second term\fuzzy\New folder\وظائف فزي\Fuzzy Project\Project Code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
